<div class="card-columns">
    <div class="card">
        <div class="card-body  bg-primary">
            <h5 class="card-title">Chicken Wings</h5>
            <p class="card-text">Chicken Wings Priced $1.5.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body  bg-danger">
            <h5 class="card-title">Chicken Legs</h5>
            <p class="card-text">Chicken Wings Priced $3.5.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body  bg-warning">
            <h5 class="card-title">Chicken Roast</h5>
            <p class="card-text">Chicken Wings Priced $0.5.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body  bg-primary">
            <h5 class="card-title">Chicken Wings</h5>
            <p class="card-text">Chicken Wings Priced $1.5.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body  bg-danger">
            <h5 class="card-title">Chicken Legs</h5>
            <p class="card-text">Chicken Wings Priced $3.5.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body  bg-warning">
            <h5 class="card-title">Chicken Roast</h5>
            <p class="card-text">Chicken Wings Priced $0.5.</p>
        </div>
    </div>
</div>